<app-header [isNotHome]="isNotHome" [pageTitle]="pageTitle"></app-header>

<ion-content>
    <ion-list lines="full">
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Integrante</ion-card-subtitle>
              <img class="" src="../../../assets/img/matias G.jpg" alt="Matias Gonzalez" width="95px">
              <ion-card-title>Matías González</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Carrera: Ingenieria en informatica de DuocUC sede San Joaquin, 2do año, 22 años
            </ion-card-content>
          </ion-card>
      </ion-list>
</ion-content>
<ion-content>
    <ion-list lines="full">
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Integrante</ion-card-subtitle>
              <img class="" src="../../../assets/img/Jose P.jpg" alt="José Pérez" width="95px">
              <ion-card-title>José Pérez</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Carrera: Ingenieria en informatica de DuocUC sede San Joaquin, 2do año, 22 años
            </ion-card-content>
          </ion-card>
      </ion-list>
</ion-content>
<ion-content>
  <ion-list lines="full">
      <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Integrante</ion-card-subtitle>
            <img class="" src="../../../assets/img/Ricardo M.jpeg" alt="Ricardo Miranda" width="95px">
            <ion-card-title>Ricardo Miranda</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Carrera: Ingenieria en informatica de DuocUC sede San Joaquin, 2do año, 26 años
          </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>